
h1{
	color:white;
}




body {

	
	background-image: url(../img/time_baby.webp);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: black;
	}


